{% extends 'main.html' %} {% load static %} {% block content%}
<body style="background: gold; text-align: center">
    <h1 style="text-align: center; margin-top: 2.3em; margin-left: 8em; margin-right: 8em; padding: 1em; background-color: steelblue; color: ghostwhite">Welcome To TheBusStop!</h1>

    <p style="margin-top: 2.5em; background-color: steelblue; color: ghostwhite; padding: 1.5em; margin-left: 14em; margin-right: 14em; word-spacing: 0.3em;">
    TheBusStop is an app designed for Bus Drivers to record who gets on and off the bus, and for passengers to add theirselves to the roster for then and the next time they want to get on the bus.
    </p>

    <p style="margin-top: 2em; color: ghostwhite; background-color: steelblue; padding: 1em; margin-left: 32em; margin-right: 32em">Enjoy the ride the safest way possible!!</p>
    <br />
    <br />
    <img style="width: 20em; height: 10em"src="{% static 'bus102.png' %}" alt="My image">
</body>
{% endblock%}
